@page "/fetchw3wfromgps"
@using BlazorWA_W3W.Shared
@inject HttpClient Http

<PageTitle>Get What Three Wordsfrom GPS</PageTitle>

<h1>Get What Three Words from GPS</h1>

<p>This component demonstrates fetching data from the server.</p>

<EditForm Model="@gpsCoords" OnSubmit="SendCommand">

@code
    {

        public class Model
    {
        public double lat { get; set; } 
        public double lon { get; set; }
    }
    Model gpsCoords = new   Model();
    bool submitting = false;
}
<table>
  
    <tr>
        <td>Latitude:&nbsp;</td>
        <td>
                <input type="text" @bind-value="@gpsCoords.lat" Placeholder="Enter Latitude" />
        </td>
    </tr>
    <tr><td>Longitude:&nbsp;</td>
        <td>
                <input type="text" @bind-value="@gpsCoords.lon" Placeholder="Enter Longitude" />
        </td>
    </tr>
    <tr><td><button type="submit">Get W3W</button></td></tr>
</table>
</EditForm>

@if (submitting)
{
    @if (w3w == null)
    {
        <p><em>Loading...</em></p>
    }
    else
    {
        <table class="table">
            <thead>
                <tr>
                    <th>Property</th>
                    <th>Value</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>TriWords:</td>
                    <td>@w3w.words</td>
                </tr>
                <tr>
                    <td>Locality:</td>
                    <td>@w3w.nearestPlace, @w3w.country</td>
                </tr>
                @if(w3w.coordinates != null)
                {
                    if ((w3w.coordinates.lat != null) && (w3w.coordinates.lng != null))
                    {
                        <tr>
                            <td>Latitude:</td>
                            <td>@w3w.coordinates.lat</td>
                        </tr><tr>
                            <td>Longitude:</td>
                            <td>@w3w.coordinates.lng</td>
                        </tr>
                    }
                }
                <tr>
                    <td>Map Url:</td>
                    <td><a href="@w3w.map" target="blank">@w3w.map</a></td>
                </tr>
                @if (w3w.square != null)
                {
                    @if ((w3w.square.northeast != null && w3w.square.southwest != null))
                    {
                        <tr>
                            <td>Square NE(lat,lng):</td>
                            <td>@w3w.square.northeast.lat,&nbsp;
                                @w3w.square.northeast.lng</td>
                        </tr>
                        <tr>
                            <td>Square SW(lat,lng):</td>
                            <td>@w3w.square.southwest.lat,&nbsp;
                                @w3w.square.southwest.lng</td>
                        </tr>
                    }
                }
            </tbody>
        </table>
    }
}

@code {
    private W3WShared? w3w= null;


    async Task SendCommand()
    {
        submitting = true;
        w3w = null;
        StateHasChanged();
        string getCmd = $"W3W/{gpsCoords.lat},{gpsCoords.lon}";
        w3w = await Http.GetFromJsonAsync<W3WShared>(getCmd);
    }

    protected override async Task OnInitializedAsync()
    {
        submitting = false;
        w3w = null;
    }
}
